body{
    font-family: 'Poppins', sans-serif;
}
.responsive-carousel{
    height: 80vh;
    object-fit: cover;
}

.card-image{
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: gold;
}

.star-fade{
    color: rgba(255, 215, 0,0.4);
}